<div class="modal fade" id="trocarCapitaoModal" tabindex="-1" aria-labelledby="trocarCapitaoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trocarCapitaoModalLabel">
                    <i class="fas fa-exchange-alt me-2"></i>
                    Trocar Capitão
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="trocarCapitaoContent">
                    <!-- Conteúdo será carregado dinamicamente -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times me-1"></i>Cancelar
                </button>
                <button type="button" class="btn btn-warning" id="confirmarTrocaCapitao" disabled>
                    <i class="fas fa-exchange-alt me-1"></i>Confirmar Troca
                </button>
            </div>
        </div>
    </div>
</div>