Flask==2.3.3
flask-sqlalchemy==3.0.5
flask-login==0.6.2
flask-socketio==5.3.4
python-socketio==5.9.0
gevent==23.9.1
gevent-websocket==0.10.1
gunicorn==21.2.0
Werkzeug==2.3.7
python-dotenv==1.0.0
PyMySQL==1.1.0
cryptography
